<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
   
 <appender name="ERRORFILE" class="ch.qos.logback.core.FileAppender">
      <file> PriceStalkerErrors.txt </file>
      <append>true</append>
      <encoder>
         <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
      </encoder>
   </appender>
   
   <appender name="DEBUGFILE" class="ch.qos.logback.core.FileAppender">
      <file> PriceStalkerDebug.txt </file>
      <append>true</append>
      <encoder>
         <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
      </encoder>
   </appender>
   
   <logger name="aplicacion.controlador.Principal" level="ERROR" additivity="false">
    <appender-ref ref="ERRORFILE" />
  </logger>
  <logger name="aplicacion.controlador.Login" level="ERROR" additivity="false">
    <appender-ref ref="ERRORFILE" />
  </logger>
  <logger name="aplicacion.controlador.Registro" level="ERROR" additivity="false">
    <appender-ref ref="ERRORFILE" />
  </logger>
 
  <root level="DEBUG">
    <appender-ref ref="DEBUGFILE" />
  </root>
</configuration>